---
# All available hooks: https://pre-commit.com/hooks.html
# R specific hooks: https://github.com/lorenzwalthert/precommit
repos:
  - repo: https://github.com/lorenzwalthert/precommit
    rev: v0.3.2.9027
    hooks:
      - id: style-files
        args: [--style_pkg=styler, --style_fun=tidyverse_style]
      - id: roxygenize
        additional_dependencies:
          - ggfortify
          - assertthat
          - bioc::Biobase
          - bioc::BiocGenerics
          - bioc::BiocStyle
          - bioc::biomaRt
          - checkmate
          - circlize
          - bioc::ComplexHeatmap
          - bioc::DelayedArray
          - bioc::DESeq2
          - dplyr
          - DT
          - bioc::edgeR
          - EnvStats
          - forcats
          - grid
          - bioc::GenomicRanges
          - ggplot2
          - ggrepel
          - httr
          - bioc::IRanges
          - knitr
          - lifecycle
          - bioc::limma
          - magrittr
          - matrixStats
          - methods
          - bioc::MultiAssayExperiment
          - purrr
          - R6
          - Rdpack
          - rlang
          - rmarkdown
          - bioc::S4Vectors
          - statmod
          - stats
          - testthat
          - tidyr
          - utils
          - vdiffr
      - id: use-tidy-description
      - id: spell-check
        exclude: >
          (?x)^(
          data/.*|
          (.*/|)\.Rprofile|
          (.*/|)\.Renviron|
          (.*/|)\.gitignore|
          (.*/|)NAMESPACE|
          (.*/|)DESCRIPTION|
          (.*/|)WORDLIST|
          (.*/|)LICENSE|
          (.*/|)\.Rbuildignore|
          (.*/|)\.lintr|
          (.*/|)_pkgdown.y[a]?ml|
          (.*/|)staged_dependencies.y[a]?ml|
          (.*/|)\.pre-commit-.*|
          \.github/.*|
          .*\.[rR]|
          .*\.Rproj|
          .*\.py|
          .*\.feather|
          .*\.rds|
          .*\.Rds|
          .*\.sh|
          .*\.RData
          )$
      - id: lintr
        additional_dependencies:
          - ggfortify
          - assertthat
          - bioc::Biobase
          - bioc::BiocGenerics
          - bioc::BiocStyle
          - bioc::biomaRt
          - checkmate
          - circlize
          - bioc::ComplexHeatmap
          - bioc::DelayedArray
          - bioc::DESeq2
          - dplyr
          - DT
          - bioc::edgeR
          - EnvStats
          - forcats
          - grid
          - bioc::GenomicRanges
          - ggplot2
          - ggrepel
          - httr
          - bioc::IRanges
          - knitr
          - lifecycle
          - bioc::limma
          - magrittr
          - matrixStats
          - methods
          - bioc::MultiAssayExperiment
          - purrr
          - R6
          - Rdpack
          - rlang
          - rmarkdown
          - bioc::S4Vectors
          - statmod
          - stats
          - testthat
          - tidyr
          - utils
          - vdiffr
      - id: readme-rmd-rendered
      - id: parsable-R
      - id: no-browser-statement
      - id: deps-in-desc
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ["--maxkb=200"]
      - id: end-of-file-fixer
        exclude: '\.Rd'
      - id: trailing-whitespace
        exclude: '\.Rd'
      - id: check-yaml
      - id: no-commit-to-branch
      - id: mixed-line-ending
        args: ["--fix=lf"]
  - repo: local
    hooks:
      - id: forbid-to-commit
        name: Don't commit common R artifacts
        entry: Cannot commit .Rhistory, .RData, .Rds or .rds.
        language: fail
        files: '\.Rhistory|\.RData|\.Rds|\.rds$'
        # `exclude: <regex>` to allow committing specific files
